<div class="container">
  <form #farmerForm="ngForm" method="POST" class="form-horizontal">

  <div *ngIf="mensagem" class="alert alert-success alert-dismissible fade show" role="alert">
    <a href="/farmer" class="close" data-dismiss="alert" aria-label="close">&times;</a> 
    <strong>Mensagem: </strong> {{mensagem}}
  </div>   
  <div *ngIf="erro" class="alert alert-danger alert-dismissible fade show" role="alert">
    <a href="/farmer" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Erro: </strong> {{erro}}
  </div>  

  <div [hidden]="farmerForm.submitted"></div>
       <div class="form-group row">
        <div class="col-sm-5">
          <input id="pesquisar" name="pesquisar" [(ngModel)]="pesquisar" type="text" placeholder="Nome ou Doc#" class="form-control">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" (click)="consultarFarmer(pesquisar)">Pesquisar</button>
          </div>          
        </div>
      </div>
      
      <div class="form-group row">
        <label class="col-sm-2 control-label" *ngIf="farmer.document.documentType === 'Remetente'">
          Remetente:
        </label>
        <div class="col-sm-5">
          <input id="name" name="name" [(ngModel)]="farmer.name" type="text" class="form-control" 
                placeholder="Destinatário" readonly>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-5">
            <input id="documentNumber" name="documentNumber" [(ngModel)]="farmer.document.documentNumber" type="text" 
                  class="form-control" mask="000.000.000-00" placeholder="Doc#" readonly>
        </div>
      </div>      

      <div class="form-group row">
        <div class="col-sm-5">
          <input id="address" name="address" 
            [(ngModel)]="addressComplete"
            type="text" 
            #address="ngModel" 
            placeholder="Endereço" 
            class="form-control" readonly>
        </div>
      </div>            

      <div class="text-center">
         <button class="btn btn-primary btn-lg" type="submit" (click)="farmerForm.resetForm({})">Novo</button>

          <button class="btn btn-success btn-lg" type="submit" (click)="salvarContato(farmer);farmerForm.resetForm({})" [disabled]="farmerForm.invalid">Salvar</button>

          <button class="btn btn-secondary btn-lg" type="submit" (click)="alterarContato(farmer);farmerForm.resetForm({})" [disabled]="farmerForm.invalid">Alterar</button>          

          <button class="btn btn-danger btn-lg" type="submit" (click)="deletarContato(farmer);farmerForm.resetForm({})" [disabled]="farmerForm.invalid">Deletar</button>           

          <button class="btn btn-primary btn-lg" type="submit" (click)="voltar()">Voltar</button>
      </div>
  </form>
  </div>