@import "bootstrap/dist/css/bootstrap.css";

form {
    border: 3px solid #f1f1f1;
}

/* Full-width label */
control-label login{
    width: 50%;
}

/* Add padding' to containers */
.container {
    padding: 16px;
    max-width: 100%;
}

/* Add space'to label */
.col-sm-2[_ngcontent-c1] {
    max-width: 10%;
}

/* Add space'to button */
.btn {
    margin-right: 5px;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}